$background-color: rgb(69, 69, 69);
$flash-message-color: rgba(205, 117, 148, 0.6);
$header-color: rgb(205, 117, 148);
$overlay-color: rgba(245, 241, 241, 0.7);
$placeholder-color: rgba(245, 241, 241, 0.4);
$polaroid-body-color: rgb(245, 241, 241);
$text-color: rgb(40, 20, 20);

$swipe-left-color: rgb(246, 2, 57);
$swipe-right-color: rgb(92, 150, 93);
