nav {
  height: 6vh;
  // position: relative;
  background-color: $header-color;
  display: flex;
  .header-icon {
    color: $polaroid-body-color;
    height: 6vh;
    font-size: 4vh;
    justify-content: center;
  }
  :active {
    color: $background-color;
    transition: .1s;
  }
  .column {
    // position: absolute;
    width: 100%;
    top: 0;
    height: 7vh;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
  }
}
