.register-section, .edit-users {
  text-align: center;
  font-size: 1.5rem;
  input[type="text"], input[type="email"], input[type="password"], input[type="date"], textarea {
    width: 95%;
    margin: 0 auto;
    margin: 1rem 0;
    height: 2vh;
    background-color: $background-color;
    border: 1px solid $background-color;
    border-bottom: 4px solid $header-color;
    color: $polaroid-body-color;
    font-size: 1.5rem;
    box-sizing: content-box;
  }
  ::-webkit-input-placeholder {
    color: $placeholder-color;
    font-size: 1.5rem;
  }
  textarea {
    height: 100px;
  }
  label, p {
    text-align: left;
    color: $polaroid-body-color;
    width: 95%;
    margin: 0 auto;
  }
  .multiple-options {
    text-align: left;
    width: 95%;
    margin: 0 auto;
    margin-top: 1rem;
  }
  .length-label-wrapper {
    text-align: right;
    width: 95%;
    margin: 0 auto;
  }
  .length-label {
    font-size: 0.75rem;
  }

  button {
    background-color: $header-color;
    color: $polaroid-body-color;
    border: none;
    border-radius: 20%;
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    text-align: center;
  }
}
