body {
  font-family: 'Oxygen', sans-serif;
  .centered-text {
    text-align: center;
  }

  nav {
    color: #ffffff;
    height: 7vh;
    // position: relative;
    background-color: orange;
    .column {
      position: absolute;
      top: 0;
      height: 7vh;
    }
    .column-1of3 {
      left: 0;
      width: 33vw;
    }
    .column-2of3 {
      left: 33%;
      width: 33vw;
    }
    .column-3of3 {
      left: 66%;
      width: 34vw;
      // TODO: replace width: 34vw with calc
    }
  }

  .users-index {
    margin-top: 5rem;
    .polaroid {
      margin: 0 auto;
      background-color: pink;
      width: 900px;
      height: 1000px;
      margin-bottom: 1rem;
      .polaroid-body {
        height: 800px;
        width: 800px;
        margin: 2rem 2rem 0 2rem;
      }
      .polaroid-footer {
        margin-left: 3rem;
        text-align: left;
        h2 {
          font-size: 4.5rem;
        }
        h4 {
          font-size: 2rem;
        }
      }
    }
    .buttons {
      height: 20vh;
      .column-1of2 {
        position: absolute;
        left: 0;
        width: 50vw;
        button {
          background-color: pink;
          width: 2rem;
          height: 2rem;
        }
      }
      .column-2of2 {
        position: absolute;
        left: 50%;
        width: 50vw;
        button {
          background-color: pink;
          width: 2rem;
          height: 2rem;
        }
      }
    }
  }

  .chats-index {
    .matches {
      .match {
        display: inline-block;
        img {
          height: 200px;
          width: 200px;
        }
      }
    }
    .chats-section {
      position: absolute;
      width: 100vw;
      .chat-container {
        position: relative;
        .column-1of2 {
          position: relative;
          left: 0;
          width: 40vw;
          display: flex;
          flex-wrap: wrap;
          img {
            width: 300px;
            height: 300px;
          }
        }
        .column-2of2 {
          position: relative;
          left: 35%;
          top: -100px;
          width: 55vw;
          display: flex;
          flex-wrap: wrap;
          h3 {
            font-size: 3rem;
          }
        }
      }
    }
  }

  .chat-show {
    .other-user {
      .thumbnail {
        height: 150px;
        width: 150px;
      }
      .message-bubble {
        background-color: orange;
        border-radius: 20%;
        width: auto;
        max-width: 400px;
      }
    }
    .current-user {
      .thumbnail {
        height: 150px;
        width: 150px;
      }
      .message-bubble {
        background-color: pink;
        border-radius: 20%;
        width: auto;
        max-width: 400px;
      }
    }
  }
}
